body {
    background-color: #070031;
}

.currency-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

td {
    padding: 20px;
}

table {
    border-spacing: 30px;
    border-collapse: collapse;
}

tr:hover {
    background-color: #a495eb93;
}

.currency-item {
    padding-bottom: 40px;
}

.title {
    font-size: larger;
    font-weight: bold;
    color: rgb(208, 208, 1);
}

.sub-title {
    font-size: medium;
    color: rgb(171, 171, 4);
}

.currency-rate {
    font-size: x-large;
    font-weight: bold;
}